<h3 class="text-center">ModelDriven/Reactive Form</h3>

<div class="col-sm-6 offset-3 border border-3 rounded-3 p-3">
  <form [formGroup]="signupForm" (submit)="submitMyForm()">
    <p>
      FirstName:
      <input formControlName="firstName" />
      @if(signupForm.controls['firstName'].hasError('required')){
      <span class="text-danger mx-2">FirstName is required</span>
      } @if(signupForm.controls['firstName'].hasError('minlength')){
      <span class="text-danger mx-2">FirstName Should have minimum 5 characters</span>
      }
    </p>
    <p>
      LastName:
      <input formControlName="lastName" />
    </p>
    <p>
      Email:
      <input formControlName="email" />
    </p>
    <div formGroupName="address">
      <p>
        City:
        <input formControlName="city" />
      </p>
      <p>
        State:
        <input formControlName="state" />
      </p>
      <p>
        Pincode:
        <input formControlName="pincode" />
      </p>
    </div>

    <input type="reset" value="Clear" class="btn btn-danger ml-5" />
    <input
      type="submit"
      value="Submit"
      [disabled]="signupForm.invalid"
      class="btn btn-primary mx-2"
    />
  </form>
  <pre>
    {{ signupForm.value | json }}
  </pre>
</div>
