<div class="body">
  <!-- <h3>This is Body</h3> -->
  <!-- <app-top-deals></app-top-deals> -->
  <!-- <app-databinding></app-databinding> -->
  <!-- <app-directives></app-directives> -->
  <!-- <app-product-table></app-product-table> -->
  <app-products></app-products>
  <!-- <app-my-modal>
    <img width="400" height="400" src="https://images.pexels.com/photos/356056/pexels-photo-356056.jpeg?cs=srgb&dl=pexels-pixabay-356056.jpg&fm=jpg" alt="">
  </app-my-modal> -->
  <!-- <app-user-list></app-user-list> -->
  <!-- <app-demo1></app-demo1> -->
  <!-- <app-employee-crud></app-employee-crud> -->
  <!-- <app-pipes-demo></app-pipes-demo> -->
  <!-- <app-parent-demo></app-parent-demo> -->
  <!-- <app-comment-list></app-comment-list> -->
  <!-- <app-employee-list></app-employee-list> -->
  <!-- <app-observable-demo1></app-observable-demo1> -->
  <!-- <app-observable-demo2></app-observable-demo2> -->
  <!-- <app-observable-demo3></app-observable-demo3> -->
   <!-- <app-subject-demo1></app-subject-demo1> -->
</div>
