<div class="container">
  <div class="row">
    <div class="col">
      <div class="category">
        <div>
          <img
            src="https://rukminim1.flixcart.com/fk-p-flap/64/64/image/e00302d428f5c7be.png?q=100"
            alt=""
          />
        </div>
        <div>Minutes</div>
      </div>
    </div>
    <div class="col">
      <div class="category">
        <div>
          <img
            src="https://rukminim1.flixcart.com/fk-p-flap/64/64/image/5f2ee7f883cdb774.png?q=100"
            alt=""
          />
        </div>
        <div>Mobiles</div>
      </div>
    </div>
    <div class="col">
      <div class="category">
        <div>
          <img
            src="https://rukminim1.flixcart.com/fk-p-flap/64/64/image/ff559cb9d803d424.png?q=100"
            alt=""
          />
        </div>
        <div>Fashion</div>
      </div>
    </div>
    <div class="col">
      <div class="category">
        <div>
          <img
            src="https://rukminim1.flixcart.com/fk-p-flap/64/64/image/af646c36d74c4be9.png?q=100"
            alt=""
          />
        </div>
        <div>Electronics</div>
      </div>
    </div>
    <div class="col">
      <div class="category">
        <div>
          <img
            src="https://rukminim1.flixcart.com/fk-p-flap/64/64/image/e00302d428f5c7be.png?q=100"
            alt=""
          />
        </div>
        <div>Minutes</div>
      </div>
    </div>
    <div class="col">
      <div class="category">
        <div>
          <img
            src="https://rukminim1.flixcart.com/fk-p-flap/64/64/image/5f2ee7f883cdb774.png?q=100"
            alt=""
          />
        </div>
        <div>Mobiles</div>
      </div>
    </div>
    <div class="col">
      <div class="category">
        <div>
          <img
            src="https://rukminim1.flixcart.com/fk-p-flap/64/64/image/ff559cb9d803d424.png?q=100"
            alt=""
          />
        </div>
        <div>Fashion</div>
      </div>
    </div>
    <div class="col">
      <div class="category">
        <div>
          <img
            src="https://rukminim1.flixcart.com/fk-p-flap/64/64/image/af646c36d74c4be9.png?q=100"
            alt=""
          />
        </div>
        <div>Electronics</div>
      </div>
    </div>
  </div>
</div>
