<h3 class="text-center">User List</h3>

<div class="container">
    <div class="row">
        @for (user of userArr | paginate: { itemsPerPage: 4, currentPage: p}; track $index) {
            <div class="col-sm-3">
                <div class="card">
                <img src="https://toppng.com/uploads/preview/icons-logos-emojis-user-icon-png-transparent-11563566676e32kbvynug.png" class="card-img-top" alt="...">
                <div class="card-body text-center">
                    <h5 class="card-title">{{user.username}}</h5>
                    <p class="card-text">{{user.name}}</p>
                    <p class="card-text">
                        <fa-icon [icon]="faEnvelope"></fa-icon>
                        {{user.email}}
                    </p>
                    <p class="card-text">
                        <fa-icon [icon]="faPhone"></fa-icon>
                        {{user.phone}}
                    </p>
                    <p class="card-text">{{user.address.city}}</p>
                    <a href="#" class="btn btn-primary">Details</a>
                </div>
                </div>
            </div>
        }
    </div>
    <div class='row'>
        <div class='col-sm-6 offset-3'>
            <pagination-controls (pageChange)="p = $event"></pagination-controls>
        </div>
    </div>
</div>