<div class="container top-deals">
  <div class="row">
    <div class="col">
      <div class="card text-center">
        <img
          src="https://rukminim1.flixcart.com/image/240/240/xif0q/projector/4/x/3/atom-3x-native-fhd-1080p-4k-support-13-0-android-projector-300-original-imahbxepqgqurfh7.jpeg?q=60"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title">Projector</h5>
          <p class="card-text">From 6990</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card text-center">
        <img
          src="https://rukminim1.flixcart.com/image/240/240/xif0q/monitor/w/i/f/-original-imahagy2cefszqgy.jpeg?q=60"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title">Monitor</h5>
          <p class="card-text">From 8279</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card text-center">
        <img
          src="https://rukminim1.flixcart.com/image/240/240/xif0q/dslr-camera/o/5/9/autofocus-16x-digital-zoom-rechargeable-camera-48-4k-ultra-hd-original-imahcy7gnjqpdqum.jpeg?q=60"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title">Projector</h5>
          <p class="card-text">From 6990</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card text-center">
        <img
          src="https://rukminim1.flixcart.com/image/240/240/xif0q/smartwatch/5/v/s/-original-imagxrhetgfuebnn.jpeg?q=60"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title">Monitor</h5>
          <p class="card-text">From 8279</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card text-center">
        <img
          src="https://rukminim1.flixcart.com/image/240/240/xif0q/monitor/e/m/s/sa272-p1-full-hd-27-2025-um-hs2si-101-acer-original-imahey8jdh87j8kg.jpeg?q=60"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title">Speakers</h5>
          <p class="card-text">From 8279</p>
        </div>
      </div>
    </div>
  </div>
</div>
