<h3 class="text-center">Let's Learn Signals</h3>

<div class="border border-2 rounded-2 p-2 m-2">
  <div>Normal variable a is:: {{ a }}</div>
  <h4>Num value is {{ num() }}</h4>
  <h4>Square value is {{ numSquare() }}</h4>
  <h4>Double  value is {{ numDouble() }}</h4>

  <button (click)="decrement()">Decrement</button>
  <button (click)="reset()" class="m-1">Reset</button>
  <button (click)="increment()">Increment</button>

  <hr />
  @for(msg of messages();track $index){
    <div>{{ msg }}</div>
  }
</div>

<div class="border border-2 rounded-2 p-2 m-2">
    <h2>Cookie recipe</h2>
    <label>
      # of cookies:
      <input type="range" min="10" max="100" step="10" [value]="cookieCount()" (input)="updateCookieCount($event)" />
      {{ cookieCount() }}
    </label>
    <p>Butter: {{ butter() }} cup(s)</p>
    <p>Sugar: {{ sugar() }} cup(s)</p>
    <p>Flour: {{ flour() }} cup(s)</p>
</div>
